body {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    line-height: 1.5em; 
}

header {
    width:100vw;
    height:80px;
    position:fixed;
    top:0;
    background-color: rgba(255,255,255,.75);
    display:flex;
    justify-content: center;
    align-items: center;
}

header a {
    position: absolute;
    width:300px;
    margin:auto;
    margin-top:2rem;
}

.hover-hide{
    z-index: 999;
}
.hover-show{
    z-index:998;
}

.hover-hide:hover{
    display:none;
}
/*.hover-hide:active{
    display:none;
}*/

main.home{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:800px;
    margin:auto;
    margin-top: 7rem;
    justify-content: space-around;
    align-items: stretch;
    height:80vh;
}

section{
    flex-basis:30%;
    height:0; /*to make perfect square or circle*/
    padding:15% 0;
    background-color:#FF4A81;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:3%;
}

a{
    color:black;
    font-weight: bolder;
    margin:.5rem;
    text-decoration: none;
    height: 0;
    width:100%;
    border-radius:inherit;
    display:inherit;
    justify-content: inherit;
    align-items: inherit;
}

section a{
    padding: 50% 0;
}

a:hover{
    color:#F37EFF;
    font-size:2rem;
    line-height:2rem;
}

footer {
    width:90vw;
    bottom:0;
    padding:1rem;
    background-color:#F37EFF;
    color:white;
    border: 5px dotted white;
    margin:5vw;
    margin-bottom:1rem;
}

footer p {
    font-size:.9rem;
    line-height:.9rem;
    text-align:left;
    max-width:1000px;
    margin:auto;
    margin-top:.5rem;
}

::-webkit-scrollbar {
    display:none;
}


::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

nav {
    display: flex;
    flex-direction: column;
    float:left;
    margin-top:-3.5rem;
}

nav ul {
    list-style-type: none;
}
li.home-logo{
    background-color:white;
    display:flex;
    justify-content: flex-start;
    height:6vh;
    margin:1rem;
    
}
.home-logo a {
    position: absolute;	
}

.home-logo a img {
    width: 15rem;
}

.hide:hover{
    visibility: hidden;
}

nav li {
    height: 12vh;
    width:12vh;
    border-radius:50%;
    background-color:#FF4A81;
    line-height:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    margin-left:1vw;
    margin-right:1rem;
}

nav a{
    font-size:.75rem;
    font-weight:normal;
    height: inherit;
    width:inherit;
    border-radius:inherit;
}

nav a:hover{
    font-size:1rem;
    line-height:1rem;
    color:#F37EFF;
}

.current {
    font-size:2rem;
    height: 15vh;
    width:15vh;
    border-radius:7.5vh;
}

.current a{
    font-size:1.5rem;
    font-weight:bold;
    height: inherit;
    width:inherit;
    border-radius:inherit;
}

.current a:hover{
    font-size:2.25rem;
    line-height: 2.25rem;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:800px;
    width:1200px;
    margin:auto;
    margin-top: 4rem;
}

summary{
    margin:1%;
    flex-basis:30%;
    height:0;
    padding:15% 0;
    background-color:#FF5D3D;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

summary img {
    width:100%;
    position:absolute;
    z-index: -1;
}

summary a {
    color:white;
}

summary a:hover {
    color:white;
}

/* for recipe pop-ups!!

based on lightbox code by Gregory Schier
https://codepen.io/gschier/pen/HCoqh */

.pop-up {
	/** Default lightbox to hidden */
	display: none;
	position: fixed;
	z-index: 999;
	width: 80vw;
	height: 80vh;
	text-align: center;
	top: 10vh;
	left: 10vw;
	background-color: white;
	border: 5px solid #FF5D3D ;
	border-radius:10vw;
	overflow: scroll;
}



.empty-space {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    z-index: -1;
}

/* to exit pop-up */
.pop-up:target {
	display: block;
}

detail img{
    float:left;
    margin:10%;
    width:40%;
}

.ing-list{
    float:right;
    margin-top:10%;
    margin-right:10%;
    width:30%;
}

.list-title{
    text-align:left;
    font-weight:bold;
    font-style: oblique;
}

.ingredient{
    text-align:left;
    font-size:.9rem;
    line-height:.9rem;
    font-style: oblique;
    text-indent: -1rem;
    margin-left:1rem;
}

ol{
    display:inline-block;
    text-align:left;
    list-style: disc;
    margin:2rem;
    margin-top:0;
}

.pop-up::-webkit-scrollbar  {
    display:none; 
}







/*various screen widths*/

@media screen and (max-width: 1360px){
    main.home{
        height:auto;
    }
    
    main{
        width:800px;
    }

    summary{
        flex-basis:47%;
        height:0;
        padding:23.5% 0;
        }
    }

@media screen and (max-width: 955px){
    main{
    width:550px;
    }

    summary{
        flex-basis:47%;
        height:0;
        padding:23.5% 0;
    }
}

@media screen and (max-width: 800px){
    main.home{
        width:550px;
    }
    
    section{
    flex-basis:47%;
    height:0;
    padding:23.5% 0;
    }
    
    main{
    width:400px;
    }

    summary{
        flex-basis:100%;
        height:0;
        padding:50% 0;
    }
}

@media screen and (max-width: 560px){
    main.home{
        width:70vw;
    }
    
    section{
    flex-basis:100%;
    height:0;
    padding:50% 0;
    }
    
    main{
    width:50vw;
    }

    summary{
        flex-basis:100%;
        height:0;
        padding:50% 0;
    }
}